<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Edytuj firmę</h2>
    <form class="form" novalidate onsubmit="return validateFirmForm();">
        <label for="nazwa">Nazwa: <span class="symbol-required">*</span></label>
        <input type="text" name="nazwa" id="nazwa" value="Budimex"  placeholder="2-60 znaków" required/>
        <span id="errorNazwa" class="errors-text"></span>

        <label for="adres">Adres: <span class="symbol-required">*</span></label>
        <input type="text" name="adres" id="adres" value="Konwaliowa 3, Warszawa"  placeholder="2-60 znaków" required/>
        <span id="errorAdres" class="errors-text"></span>
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" class="form-button-submit" value="Dodaj"/>
            <a href="/firms" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>

<%- include('../../fragments/footer.ejs') %>