<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Lista budów</h2>
    <p>Brak rekordów do wyświetlenia.</p>
    <p><a href=""  class="button-add">Dodaj nową budowę</a></p>
</main>

<%- include('../../fragments/footer.ejs') %>